.header {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}


.header.listMode {
  background-color: white;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
  color:#43882F
}

.headerBtn {
  background-color: #eeb06e;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #A0D73C;
}

.headerBtnLogin {
  background-color: #6D9542;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #A0D73C;
  border:solid;
  border-color: #eeb06e;
  border-width: 2px;
  box-shadow: 5px 5px 5px rgb(173, 170, 170);
  ;
}

.headerSearch {
  height: 60px;
  max-width:1050px;
  background-color: white;
  border: 3px solid #A0D73C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rdrCalendarWrapper{
  display: contents;
}

.headerSearchInput {
  border: none;
  outline: none;
  width:200px
}

.headerSearchText {
  color: black;
  cursor: pointer;
}

.headerTitle{
  color:#6D9542

}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
  border:none;

}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.dropDownBtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-item{
  margin:10px;
  color:black;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:20px;
}

.dropdown-content a {
  color: black;
  padding: 500px 500px;
  text-decoration: none;
  margin: 500px;
}

.dropdown-content a:hover {background-color: #0071c2;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

