.navbar{
  height: 80px;
  display:flex;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: contents;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.navButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-right: 1000px;
}

.userName{
  padding-right: 1200px;
  margin-top: 30px;
}

.actions{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navBarText{
  color: rgb(67, 136, 47);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.emptyOrdersText{
  color: rgb(67, 136, 47);
  align-items: center;
    display: flex;
    width: 1200px;
    padding: 200px;
    padding-right: 500px;
    font-size: 30px;
    font-weight: bold;
}

.detailshader{
  display: flex;
  flex-direction: row;
  gap: 10px
}